* {
    box-sizing: border-box;
}

.app {
    text-align: center;
}

.characters {
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    padding-left: 40px;
    margin-top: 50px;
}

.characters-card {
    background-color: palevioletred;
    border-radius: 15px;
}

.characters-card p,
.characters-card h2 {
    text-align: center;
}

.search-bar {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.search-bar input,
.search-bar select {
    font-size: 30px;
    border: 3px solid black;
    border-radius: 5px;
}

.found {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    text-align: center;
}